<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>

    <h1><%= @passenger[:name] %>,  Welcome to flight-booker.com</h1>

    <p>
      You have successfully booked the following flight:
      <ul>
        <li style="list-style: none">Date: <%= @travel_date %></li>
        <li style="list-style: none">Depart: <%= @departure %></li>
        <li style="list-style: none">Arrive: <%= @arrival %></li>
      </ul>
    </p>

    <p>Thanks for booking your flight and have a great day!</p>

  </body>
</html>