<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Welcome to example.com, <%= @user[:name] %></h1>
    <p>
      You have successfully booked a flight,
      your email is: <%= @user[:email] %>.<br>
    </p>
    <p>Thanks for booking your flight and have a great day!</p>
  </body>
</html>