<h3 class="title is-3">Flight details</h3>
<p><span class="has-text-weight-bold">Depart:</span> <%= flight_departure(flight) %>
<p><span class="has-text-weight-bold">Arrive:</span> <%= flight_arrival(flight) %>
<br>
<br>