<h1>Bookings#new</h1>
<p>Find me in app/views/bookings/new.html.erb</p>
<p><%= @flight %></p>
<h2>Book your flight</h2>

<div class="columns is-centered">
  <div class="column is-half">
    <% @flight[:passengers].to_i.times do |passenger| %>
      <%= label :name, "Passenger name", class: "label" %>
     <input type="text", class="input">
    <% end %>
  </div>
</div>
