<h2 class="title is-2">Booking Confirmation</h2>

<%= render "flight_details",
            locals: { flight: @booking.flight, travel_date: @booking.travel_date } %>

<h3 class="title is-3">Passengers</h3>
<% @booking.passengers.each_with_index do |passenger, index| %>
<p><%= index + 1 %>. <%= passenger.name %></p>
<% end %>
<%= link_to "New Search", root_path, class: "button mt-4" %>
