<div class="section">
  <div class="columns is-centered">
    <div class="column is-half">
      <h2 class="title is-2">Booking Confirmation</h2>

      <div class="box">
        <h3 class="title is-3">Flight details</h3>
        <p><span class="has-text-weight-bold">Depart:</span> <%= format_departure(@booking) %>
        <p><span class="has-text-weight-bold">Arrive:</span> <%= format_arrival(@booking) %>
        <br>
        <br>
        <h3 class="title is-3">Passengers</h3>
        <% @booking.flight.passengers.each_with_index do |passenger, index| %>
        <p><%= index + 1 %>. <%= passenger.name %></p>
        <% end %>
      </div>
    </div>
  </div>
</div>
