<h2 class="title is-2">About Flight booker</h2>
<p>
Created by PlaustralCL. View the source code on <%= link_to "Github", "https://github.com/PlaustralCL/flight-booker" %>.
</p>
<br>
<p>
 The background image is by <%= link_to "Wolfgant Hasselmann on Unsplash",
                                        "https://unsplash.com/photos/tUajw5SrNSo" %>.
</p>
<br>

<%= link_to "Return to Flight Booker", root_path %>
